/* AboutPage.module.css */

.pageContainer {
  padding-top: 2.5rem;
  /* Corresponds to py-10 */
  padding-left: 150px;
  padding-right: 150px;
}

.title {
  font-size: 1.875rem;
  /* Corresponds to text-3xl */
  font-weight: bold;
  padding-top: 2.5rem;
  /* Corresponds to py-10 */
  padding-bottom: 2.5rem;
}